body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
    background-image: url(img/background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1 {
    margin: 0;
    padding: 0px;
}

#header {
    height: 70px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 10px;
}

.gifButton {
    font-size: 10px;
    margin: 1px;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 2px;
}

.container{
    z-index: 100;
    position: fixed;
    justify-content: center;
    align-content: center;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    border: 2px solid black;
    box-shadow: 0 5px 30px rgba(0,0,0,.8)
}

.gifTastic {
    letter-spacing: 2px;
    transition: .5s ease;
    width: 350px;
    height: 40px;
    color: black;
    text-align: center;
    margin: 0 auto 10px;
}

.gifContainer {
    height: 500px;
    background-image: url(img/giftastico.png);
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.gifWrap {
    position: fixed;
    min-width: 100%; 
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gifBox {
    height: 33.3%;
    width: 33.3%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://media1.giphy.com/media/26vIeMF1uVpEhr9Zu/giphy.gif);
}

.newGifBox {
    height: 33.3vh;
    width: 33.3%;
    opacity: .5;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://media1.giphy.com/media/26vIeMF1uVpEhr9Zu/giphy.gif);
}

.gifButtonBox {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

#createGifForm {
    display: flex;
}

#searchGif {
    width: 100%;
}

p {
    margin: 0;
    size: 4px;
    padding: 3px;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
}